*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EFEFEF;
    padding: 2rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    
}

.container{
 background-color: #F6F6F6;
 display: flex;
 /* justify-content: center; */
 /* align-items: center; */
 height: 96%;
 width: 96%;
 box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
 padding: 1rem 0px;
}

.card{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

div.img{
   flex: 1;
    width: 100%;
    height: 96%;
}

div.img img{
  height: 100%;
  width: 100%;
  object-fit: contain;

}

div.about-product{
  flex: 1;
 /* margin: 1rem; */
 color: #474747;
 margin: 2rem 7rem;
 
  
}
/* .part1-productName,
.part2-productInfo,
.part3-productStorage{
    margin-bottom: 1rem;
} */


.part1-productName .header{
    display: flex;
    align-items: center;
    gap:1rem;
   
}

.part1-productName .header h2{
    font-weight: 700;
    font-size: 2rem;

}
   
.part1-productName .header p{
    background-color: #2175F5;
    padding: 3px 10px;
    border-radius: 6px;
    color: white;
}

.apple{
    font-weight: 500;
    font-size: 19px;
    /* color: rgb(104, 102, 102); */
    margin-bottom: 1rem;
}

.part2-productInfo .info{
    font-weight: 600;
    font-size: 1.2em;
}

.part2-productInfo .info-text{
   font-size: 17px;
   list-style-type: none;
   margin-bottom: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                                   part-3                                   */
/* -------------------------------------------------------------------------- */

.part3-productStorage h2{
    font-weight: 600 ;
    font-size: 19px;
}

.memory{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    padding: 0.5rem;
    gap: 1rem;
    
}

.memory li{
    border-radius: 5px;
    width: 80px;
    height: 40px;
    text-align: center;
    background-color: #EEEEEE;
    font-weight: 500;
    color: black;
    text-align:center ;
    padding-top: 8px;
    cursor: pointer;

}

.memory .tb{
    background-color: #2175F5;
    color: white;
}

.addToCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.addToCard button{
    background-color: #2175F5;
    padding: 1rem;
    font-size: 17px;
    color: white;
    font-weight: 500;
    border: none;
    letter-spacing: 1;
    outline: none;
    cursor: pointer;
}

.addToCard p{
    color: black;
    font-size: 2rem;
    font-weight: 600;
    padding: 11px 16px;
  
  
}
.addToCard button i{
    margin-right: 0.3rem;
}